@import "tailwindcss";

:root {
  /* Palette: https://colorhunt.co/palette/fcc737f26b0fe738797e1891 */
  --gray: #71717a;
  --pink-8: #e53b7a;
  --pink-10: #e2115e;
  --pink-12: #ba0045;
  --red: #f31260;
  --yellow-3: #faeecc;
  --yellow-7: #ffdf86;
  --yellow-10: #fcc737;
  --yellow-12: #e6ab0a;
  --yellow-14: #d49c00;
  --white: white;

  --color-bg-overlay: var(--yellow-10);
  --color-bg-base: var(--yellow-7);

  --color-text-base: #171717;
  --color-text-danger: var(--red);
  --color-text-outline: var(--white);
  --color-text-muted: var(--gray);

  --comp-color-primary-bg: var(--pink-10);
  --comp-color-primary-bg-hover: var(--pink-12);
  --comp-color-primary-text: var(--white);
  --comp-color-secondary-bg: var(--yellow-12);
  --comp-color-secondary-bg-hover: var(--yellow-14);
  --comp-color-secondary-text: var(--white);

  --font-size-xl: 2rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.75rem;
}

@theme inline {
  --color-background: var(--color-bg-base);
  --color-foreground: var(--color-text-base);
  --color-primary: var(--comp-color-primary-bg);
  --color-danger: var(--color-text-danger);
  --color-muted: var(--color-text-muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-bg-base: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-bg-base);
  color: var(--color-text-base);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-base);
}

/*************************************************/
/*           HTML SOURCE ELEMENTS                */
/*************************************************/

/* Titles */

h1 {
  font-size: var(--font-size-xl);
  margin-bottom: 0.25rem;
}

/* Anchor */

a {
  color: var(--comp-color-primary-bg);
}
a:hover {
  color: var(--comp-color-primary-bg-hover);
}

/*************************************************/
/*                    DISPLAYS                   */
/*************************************************/

/* Floating box */

.floating-box-overlay {
  align-items: center;
  background-color: var(--color-bg-overlay);
  display: flex;
  justify-content: center;
  height: 100vh;
  position: absolute;
  width: 100vw;
}

.floating-box {
  align-items: center;
  background-color: var(--color-bg-base);
  border-radius: 20px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  z-index: 100;
}

.floating-box-small {
  width: 90%;
  max-width: 330px;
}

.floating-box h1 {
  color: var(--comp-color-primary-bg);
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem auto;
  text-align: center;
  text-transform: capitalize;
}

/*************************************************/
/*                    FORMS                      */
/*************************************************/

/* Input group */

.input-group .input-group-content {
  background-color: var(--yellow-3);
  border-radius: 12px;
  padding: 4px 12px 6px 12px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

.input-group .input-group-content:focus-within {
  box-shadow: 0 0 8px var(--comp-color-primary-bg); /* Glowing effect */
}

.input-group .input-group-content input {
  width: 100%;
}
.input-group .input-group-content input:focus,
.input-group .input-group-content input:-webkit-autofill {
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

.input-group label {
  font-size: 0.75rem;
  text-transform: capitalize;
  width: 100%;
}

.input-group input::-webkit-input-placeholder {
  background-color: transparent;
  color: var(--color-text-muted);
}

/* Button */

.button-base {
  border-radius: 0.5rem;
  font-size: var(--font-size-base);
  padding: 0.5rem;
}

.button-small {
  border-radius: 0.3rem;
  padding: 0.25rem 0.5rem;
}

.button-primary {
  color: var(--comp-color-primary-text);
  background-color: var(--comp-color-primary-bg);
}
.button-primary:hover:not(:disabled) {
  background-color: var(--comp-color-primary-bg-hover);
}
.button-primary:disabled {
  background-color: var(--gray);
}
.button-primary-outline {
  color: var(--comp-color-primary-bg);
  border: 1px solid var(--comp-color-primary-bg);
}
.button-primary-outline:hover:not(:disabled) {
  color: var(--comp-color-primary-text);
  background-color: var(--comp-color-primary-bg);
}
.button-primary-outline:disabled {
  color: var(--gray);
  border: 1px solid var(--gray);
}
.button-secondary {
  color: var(--comp-color-secondary-text);
  background-color: var(--comp-color-secondary-bg);
}
.button-secondary:hover:not(:disabled) {
  background-color: var(--comp-color-secondary-bg-hover);
}
.button-secondary:disabled {
  background-color: var(--gray);
}
.button-secondary-outline {
  color: var(--comp-color-secondary-bg-hover);
  border: 1px solid var(--comp-color-secondary-bg-hover);
}
.button-secondary-outline:hover:not(:disabled) {
  color: var(--comp-color-secondary-text);
  background-color: var(--comp-color-secondary-bg-hover);
}
.button-secondary-outline:disabled {
  color: var(--gray);
  border: 1px solid var(--gray);
}
.button-secondary-outline[aria-selected="true"] {
  color: var(--comp-color-secondary-text);
  background-color: var(--comp-color-secondary-bg);
}

/*************************************************/
/*                  NAVBAR                       */
/*************************************************/

.navbar {
  background-color: var(--color-bg-overlay);
  padding: 10px 20px;
}
.navbar a {
  color: black;
}
body:has(.navbar) main {
  padding: 20px;
}

/*************************************************/
/*                  TABLES                       */
/*************************************************/

.minimalistic-table {
  border-collapse: separate;
  border-spacing: 0 3px; /* adds space between rows */
  width: 100%;
}

.minimalistic-table td,
.minimalistic-table th {
  padding: 3px 12px;
}
.minimalistic-table th {
  background-color: var(--yellow-12);
  color: white;
}
.minimalistic-table td {
  background-color: var(--yellow-3);
}

/* Round only the first and last cell of each row */
.minimalistic-table tr th:first-child,
.minimalistic-table tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.minimalistic-table tr th:last-child,
.minimalistic-table tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
